.container {
  padding: 20px;
  color: aliceblue;
}
.cast_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.cast_card {
  width: calc((100% - 10px) / 2);
}
.img_box {
  border-radius: 4px;
  overflow: hidden;
}
.img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .cast_card {
    width: calc((100% - 20px) / 3);
  }
  .actor_name {
    font-size: 18px;
  }
}
@media screen and (min-width: 1030px) {
  .cast_card {
    width: calc((100% - 30px) / 4);
  }
}
@media screen and (min-width: 1280px) {
  .cast_card {
    width: calc((100% - 40px) / 5);
  }
}
