.header {
  display: flex;
  align-items: center;
  height: 52px;
  padding: 0 20px;
  background-color: #161616;
  box-shadow: 2px 11px 16px 0px rgba(72, 0, 0, 0.29);
  -webkit-box-shadow: 2px 11px 16px 0px rgba(72, 0, 0, 0.29);
  -moz-box-shadow: 2px 11px 16px 0px rgba(72, 0, 0, 0.29);
}
.title {
  display: block;
  color: #f0254e;
}
.nav_buttons {
  display: none;
}
.burger_button {
  display: block;
  margin-left: auto;
  width: 28px;
  height: 28px;
  color: #c0d0e1;
}
@media screen and (min-width: 480px) {
  .title {
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 64px;
  }
  .nav_buttons {
    display: block;
  }

  .title {
    margin: 0;
    position: absolute;
    left: 45%;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .burger_button {
    display: none;
  }
}
