.header {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: #161616;
  box-shadow: 2px 11px 16px 0px rgba(72, 0, 0, 0.29);
  -webkit-box-shadow: 2px 11px 16px 0px rgba(72, 0, 0, 0.29);
  -moz-box-shadow: 2px 11px 16px 0px rgba(72, 0, 0, 0.29);
}
.header_nav {
  display: flex;
  gap: 40px;
  margin-left: 40px;
}
.header_link {
  font-size: 20px;
  color: aliceblue;
  transition: color 250ms linear;
}
.header_link:is(:hover, :focus) {
  color: #f0254e;
}
.header_link:first-child:hover ~ .header_link:last-child {
  color: aliceblue;
}
.title {
  position: fixed;
  left: 45%;
  color: #f0254e;
}
